#main-container {
    padding: 0;
}

.logo {
    width: 60px;
    height: 45px;
}

.lb-content-wrapper {
    padding: 2em 0;
    background-color: #E4F3FC;
}

#flash-message {
    position: absolute;
    width: 280px;
    left: 50%;
    top: 5em;
    margin-left: -140px;
    text-align: center;
    z-index: 1000;
}

.formError {
    margin-left: 2em;
    color: red;
    font-style: italic;
}

.error-wrapper {
    height: 70vh;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 768px) {
    .custom-col-md-35 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}