.slogan {
    margin-bottom: 3em;
}

.section-heading {
    font-weight: 300;
    font-size: 1.1em;
}

.contact-section {
    text-align: center;
}

.contact-subsection {
    padding-top: 10px;
    text-align: center;
}