#main-trap {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#main-trap img {
    position: relative;
    left: 100%;
    margin-left: -200%;
    width: 640px;
    height: 256px;
}

.frequent-services {
    padding: 0 3em;
}

.frequent-services > div {
    height: 15em;
    margin-bottom: 3em;
    background-color: #0c5460;
    color: #fff;
}

.block-section-title {
    padding: 10px 0;
    font-weight: 500;
    font-size: 20px;
}

.block-section-content {
    text-align: justify;
    padding: 5px;
}

.exchangeRateLabel {
    padding-right: 20px;
    font-weight: 500;
}

.exchangeRate {
    font-style: italic;
    font-weight: bold;
}

.bank-info p {
    text-align: justify;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 768px) {
    #main-trap img {
        width: 1280px;
        height: 512px;
    }
}

@media (min-width: 1600px) {
    #main-trap img {
        width: 1920px;
        height: 768px;
    }
}