<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">

    <context:component-scan base-package="cz.zcu.kiv.pia.martinm" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/templates/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:resources mapping="/resources/**" location="resources/" />

    <mvc:annotation-driven />

    <!--
         Replaces all ${placeholders} with values from property files listed in "locations" property
         E.g. postservice.url in apiaryPostServiceClient.
        -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
        <property name="searchSystemEnvironment" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    </bean>

    <!-- Security -->

    <!--
    <security:http authentication-manager-ref="authManager" >
        <security:form-login login-page="/" default-target-url="/secret/vip"/>
        <security:intercept-url pattern="*" access="permitAll()"/>
        <security:intercept-url pattern="/secret/*" access="isAuthenticated()"/>
    </security:http>

    <security:authentication-manager id="authManager">
        <security:authentication-provider user-service-ref="userDaoMemorySmarter"
            <security:password-encoder ref="passwordHashEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <security:global-method-security pre-post-annotations="enabled"/>
    -->

</beans>

